<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium_Facebook" verbose="1" >

 	<test name="Smoke" junit="true">
    	<classes>
     		<class name="script.SmokeTest"/>
    	</classes>
  	</test>
  	
<!-- 
  	<test name="Regression">
    	<packages>
      		<package name="script.SmokeTest" />
   		</packages>
 	</test>
-->
  	
</suite>